.pagination {
  display: flex;
  font-size: 17px;
  font-family: "Lora", serif;
  background-color: #ddd;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 50%;
}
.pagination a {
  float: left;
  padding: 10px 30px;
  text-decoration: none;
  color: black;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
}
